{% extends 'base.html' %}
{% block title %} Pet World {% endblock %}

{% block content %}
<div class="container">
    <h4>All about {{category}}s : </h4>
</div>
<br/>
{% for story in stories %}
<div class="container">
    <div class="card text-bg-light mb-3" style="max-width: 900px;">
        <div class="row g-0">
        <div class="col-md-4">
            {% if story.story_image %}
            <img src="{{story.story_image.url}}" class="img-fluid rounded-start" alt="...">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title"><a href="{% url 'storydetail' story.id %}">{{story.title}}</a></h5>
            <p class="card-text">{{story.body|truncatewords:40|safe}}</p>
            <a class="card-text" href="{% url 'editstory' story.id %}">Edit</a> - <a class="card-text" href="{% url 'deletestory' story.id %}">Delete</a>
            <p class="card-text"><small class="text-muted">By: {{story.author.first_name}} {{story.author.last_name}} on {{story.created_at}}</small></p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}